extends layout

block content
  h1= title

  ul
  each post in post_list
    li #{post.user}: #{post.content}

  else
    li There are no posts yet.

  h2 Submit New Post
  form(method='POST' action='/posts/create')
            div.form-group
              label(for='name') Name:
              input#name.form-control(type='text', placeholder='Your name' name='user')
            div.form-group
              label(for='content') Post text:
              textarea#content.form-control(type="text", name="content", rows="3")
            button.btn.btn-primary(type='submit') Submit new post